@import url('https://fonts.googleapis.com/css2?family=Anta&family=Itim&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Anta, sans-serif;
}

.container {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* navbar */

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FAFAFA;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.2rem 0 1.2rem 1.2rem;
}

.logo-container img {
    height: 25px;
}

.nav-links-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1..2rem 0.625rem 0 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    color: black;
}

#navbar li {
    margin: 0.625rem;
}

.nav-a {
    text-decoration: none;
    color: black;
}

.nav-a:hover {
    color: rgb(254, 118, 64);
    translate: transform 0.2s;
}

.nav-a:active {
    transform: scale(1.2);
}