@import url('https://fonts.googleapis.com/css2?family=Anta&family=Itim&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Anta, sans-serif;
}

.container {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* navbar */

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FAFAFA;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.2rem 0 1.2rem 1.2rem;
}

.logo-container img {
    height: 25px;
}

.nav-links-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1..2rem 0.625rem 0 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    color: black;
}

#navbar li {
    margin: 0.625rem;
}

.nav-a {
    text-decoration: none;
    color: black;
}

.nav-a:hover {
    color: rgb(254, 118, 64);
    translate: transform 0.2s;
}

.nav-a:active {
    transform: scale(1.2);
}

/* Featured products */

.featured-products-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.what-we-do-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.what-we-do-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1.2rem 1.5rem;
    background-color: #FAFAFA;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.998);
    border-radius: 2px;
    padding: 0.625rem;
}

#free-shipping-span {
    display: flex;
    align-items: center;
    justify-content: center;
    background: burlywood;
    padding: 0.325rem;
    font-weight: bolder;
    color: rgb(244, 237, 227);
}

#online-order-span {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(13, 16, 174);
    padding: 0.325rem;
    font-weight: bolder;
    color: rgb(192, 215, 236);
    
}

#save-money-span {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(236, 78, 210);
    color: #ffffff;
    padding: 0.325rem;
    font-weight: bolder;
}

#piggy-bank {
    width: 103px;
    height: 90px;
}

#promo-span {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(211, 15, 34);
    color: #dccaca;
    padding: 0.325rem;
    font-weight: bolder;
}

#shopping-cart-img {
    width: 103px;
    height: 90px;
}

#support-span {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(69, 123, 223);
    color: #f2eeee;
    padding: 0.325rem;
    font-weight: bolder;
}

#featured-products-heading {
    font-size: 2.5rem;
    margin: 1.25rem 0 0.825rem 0;
}

#summer-collection {
    margin: 0.625rem 0 0.625rem 0;
    color: #898888;
    font-weight: bold;
}

/* product list */

#product-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0.625rem 0 0.625rem 0;
    max-width: 1000px;
}
/* new arrivals */

.new-arrivals-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

#new-arrivals-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0.625rem 0 0.625rem 0;
    max-width: 1000px;
}
/* end of new arrivals */

.product {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    background: #FAFAFA;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.998);
    margin: 0.825rem;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
    
}

.product img {
    width: 175px;
    max-width: 100%;
    height: 175px;
    border-radius: 5px;
    margin: 0 0 0.325rem 0;
}

.product-price {
    color: rgb(63, 85, 155);
    font-weight: bold;
    font-size: 0.825rem;
    
}

.product:hover {
    transform: scale(1.1);
}

.price-and-product-link {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.price-and-product-link a{
    text-decoration: none;
    color: black;
}

.price-and-product-link a:hover {
    color: rgb(254, 118, 64);
    transform: transform 0.2s ease-in-out;
}

.price-and-product-link a:active {
    transform: scale(1.1);
}

.product-card-shopping-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.product-cart {
    color: rgb(254, 118, 64);
}

.summer-sale-promotion {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 175px;
    margin: 1.8rem 0;
    position: relative;
}


.summer-sale-promotion img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(254, 118, 64); /* Adjust the text color as needed */
  }

  .text-overlay p {
    margin: 0;
    font-size: 18px; /* Adjust the font size as needed */
    font-weight: bolder;
  }

  .background-shopping-cart:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(0, 0, 0);
    padding: 0.225rem;
    border-radius: 50%;
  }


/* image carousel */

.carousel {
    display: flex;
    align-items: center;
    /* transition: transform 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94); */
    height: 100vh;
    margin-bottom: 1.5rem;
    width: 100%;
    overflow: hidden;
}

.carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 2.5s ease-in-out;
}

    


#new-arrivals-heading {
    font-size: 2.5rem;
    margin: 1.25rem 0 0.825rem 0;
}

#new-arrivals-p {
    margin: 0.625rem 0 0.625rem 0;
    color: #898888;
    font-weight: bold;
}

/* newsletter styling */

.middle-footer-subscribe-newsletter-container {

    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: 2px solid black; */
    width: 100%;
    height: 125px;
    background: rgb(63, 85, 155);
    margin: 1.5rem 0 1.5rem 0;
}

.form-layout-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(254, 118, 64);
}

.form-layout-text h4 {
    font-size: 1.5rem;
    margin: 0 0 0.325rem 0;
}

.form-layout {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
}

#newsletter-form {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#newsletter-form input {
    height: 2.188rem;
    width: 50%;
    padding: 1rem;
    border: none;

}

#newsletter-form input::placeholder {
    color: black;
}

#newsletter-form button {
    height: 2.188rem;
    width: 20%;
    margin: 0 0 0 0.325rem;
    background: rgb(254, 118, 64);
    border: none;
    font-weight: bold;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

#newsletter-form button:active {
    transform: scale(1.1);
}

#newsletter-form button:hover {
    transform: scale(1.1);
}

/* footer styling */

.footer {
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    margin: 0 0 0.235rem 0;
}

.left-hand-side-footer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.left-hand-side-footer h5 {
    font-size: 1.2rem;
    margin: 0.325rem 0 0.325rem 0;
}

.left-hand-side-footer ul {
    list-style-type: none;
}

.left-hand-side-footer a {
    text-decoration: none;
}

.footer-links ul li a {
    text-decoration: none;
    color: black;
}

.footer-links ul {
    text-align: center;
}

.footer-links li {
    margin: 0.125rem 0 0.125rem 0;
}

.footer-links li a:hover {
    color: rgb(254, 118, 64);
}

.middle-footer {
    /* border: 1px solid red; */
    height: 100%;
}

.middle-footer h5 {
    font-size: 1.2rem;
    margin: 0.325rem 0 0.325rem 0;
}

.middle-footer li {
    list-style-type: none;
}

.middle-footer li a {
    text-decoration: none;
    color: black;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.social-icons a {
    text-decoration: none;
}

.facebook {
    color: blue;
}

.insta {
    color: rgb(211, 13, 128);
}

.twitter {
    color: black;
}

.snapchat {
    color: rgb(180, 180, 4);
}
/* .right-hand-side-footer {
    border: 1px solid purple;
} */

.company-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.company-info h5 {
    font-size: 1.2rem;
    margin: 0.325rem 0 0.325rem 0;
}

.company-info p {
    margin: 0.125rem 0 0.125rem 0;
    color: #898888;
}

.company-span {
    font-weight: bolder;
    color: black;
}


@media (max-width: 768px) {

    .what-we-do-container {
        flex-wrap: wrap;
    }

    .middle-footer-subscribe-newsletter-container {
        flex-wrap: wrap;
        height: 150px;
    }

    .form-layout {
        width: 75%;
    }

    .text-overlay h3 {
        text-align: center;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .spacing-footer {
        margin: .35rem 0;
    }

}

@media (max-width: 430px) {
    .middle-footer-subscribe-newsletter-container {
        text-align: center;
    }

    .form-layout {
        height: 0;
    }

    /* #product-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: .65rem;
        justify-items: center;
        max-width: 430px;
    }

    #new-arrivals-list {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr) !important;
        gap: .65rem !important;
        justify-items: center !important;
        max-width: 430px !important;
    } */
    
}


